@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-navy-50: #f2f6fc;
  --color-navy-100: #e1eaf7;
  --color-navy-200: #c3d5ee;
  --color-navy-300: #9bb8e0;
  --color-navy-400: #6d94cf;
  --color-navy-500: #4a74bd;
  --color-navy-600: #385da0;
  --color-navy-700: #2f4b83;
  --color-navy-800: #28406d;
  --color-navy-900: #1f3358;
  --color-navy-950: #14233d;
}
